@{
    
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @await Component.InvokeAsync("My",new Employee {DepartmentId = 123,Name = "Charles"})
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="FileUpload.FormFile"></label>
            </dt>
            <dd>
                <input asp-for="FileUpload.FormFile" type="file" />
                <span asp-validation-for="FileUpload.FormFile"></span>
            </dd>
        </dl>
        <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
    </form>
</div>
