@using  MVCApp.HtmlHelper;

@{
    
    ViewData["Title"] = "Home Page";
    // 準備 HTML 屬性
    
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @await Component.InvokeAsync("My",new Employee {DepartmentId = 123,Name = "Charles"})
    <form  asp-action="HandleForm" asp-controller="Home"  method="post">
        <input type="submit" name="action" value="Save" />
        <input type="submit" name="action" value="Cancel" />
    </form>



</div>
